{% extends "default.html" %}

{% block title %} Admin Menu {% endblock %}

{% block image %}
{% if img.startswith('http') %}
{{ img }}
{% else %}
{{ url_for('static', filename=img) }}
{% endif %}
{% endblock %}

{% block hovertext %} {{ text|safe }} {% endblock %}

{% block main %}

<section>
    <h2>Menus</h2>
    <p>
        Update Discord Guild and Channel IDs and User IDs for Admin<br>
        <input type="button" value="DISCORD ADMIN" onclick="window.location.href='/edit-discord'">
    </p>
    <p>
        Edit HTML for Challenges<br>
        <input type="button" value="EDIT HTML" onclick="window.location.href='/update-html'">
    </p>
    <p>
        Edit Challenge Solutions<br>
        <input type="button" value="EDIT SOLUTIONS" onclick="window.location.href='/edit-solutions'">
    </p>
    <p>
        Add or Remove GitHub Accounts for Champion Users<br>
        <input type="button" value="EDIT CHAMPIONS" onclick="window.location.href='/edit-champions'">
    </p>
</section>
<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for _, message in messages %}
    <p class="b i">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/admin" method="POST">
        <h2>Change Release</h2>
        <label for="release">Up to Week:</label><br>
        <textarea id="release" name="release" rows="1" cols="90">{{ release }}</textarea><br><br>
        <input type="submit" value="SAVE">
    </form>
</section>
{% endblock %}
