{% extends "default.html" %}

{% block title %} Admin Menu {% endblock %}

{% block image %}
{% if img.startswith('http') %}
{{ img }}
{% else %}
{{ url_for('static', filename=img) }}
{% endif %}
{% endblock %}

{% block hovertext %} {{ text|safe }} {% endblock %}

{% block main %}
<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for _, message in messages %}
    <p class="b i">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/update-admin" method="POST">
        <h2>Guild</h2>
        <label for="guild">ID:</label><br>
        <textarea id="guild" name="guild" rows="1" cols="90">{{ guild }}</textarea><br><br>
        <h2>Channels</h2>
        {% for n in range(1, 11) %}
        <label for="c{{ n }}">Week {{ n }}:</label><br>
        <textarea id="c{{ n }}" name="c{{ n }}" rows="1" cols="90">{{ channels[n - 1] if n - 1 < channels|length else '' }}</textarea><br>
        {% endfor %}<br>
        <h2>Release</h2>
        <label for="release">Up to Week:</label><br>
        <textarea id="release" name="release" rows="1" cols="90">{{ release }}</textarea><br><br>
        <h2>Permissions</h2>
        <label for="perms">Users with Admin Permissions:</label><br>
        <textarea id="perms" name="perms" rows="{{ perms|length + 2 }}" cols="90">{{ perms|join("\n") }}</textarea>
        <br><br>
        <input type="button" value="CANCEL" onclick="window.location.href='/admin'"> <input type="submit" value="SAVE">
    </form>
</section>
{% endblock %}
