{% extends "challenge_main.html" %} 

{% block title %} Challenge {{ num }} {% endblock %} 

{% block image %} 
    {% if img.startswith('http') %} 
        {{ img }} 
    {% else %} 
        {{ url_for('static', filename=img) }} 
    {% endif %} 
{% endblock %} 

{% block hovertext %} {{ text|safe }} {% endblock %} 

{% block subtitle1 %} 
    Part One:
    <br>
    {{ a["title"] }} 
{% endblock %} 

{% block section1 %} {{ a["content"]|safe }} {% endblock %} 

{% block intro1 %} {{ a["instructions"] }} {% endblock %} 

{% set input_url1 = url_for('static', filename="puzzle_input/" ~ num.zfill(2) ~ "/input1." ~ a.input) %}

{% block solution1 %} {{sol1|safe }} {% endblock %} 

{% if parttwo %} 
    {% block subtitle2 %} 
        Part Two:
        <br>
        {{ b["title"] }}
    {% endblock %} 
        
    {% block section2 %} {{ b["content"]|safe }} {% endblock %}

    {% block intro2 %} {{ b["instructions"] }} {% endblock %}

    {% set input_url2 = url_for('static', filename="puzzle_input/" ~ num.zfill(2) ~ "/input2." ~ b.input) %}
    
    {% block solution2 %} {{sol2|safe }} {% endblock %} 
{% endif %}
