<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Coding Challenge Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
<a href="#main-content" class="skip-link">Skip to Main content</a>
<a href="/" class="float">&lt;</a>
{% if error %}
<dialog id="incorrect">
    <p>{{ error }}</p>
    <form method="dialog">
        <button>OK</button>
    </form>
</dialog>
<script>
    const dialog = document.getElementById("incorrect");
    dialog.showModal();
</script>
{% endif %}
<header>
    <h1>{% block title %}{% endblock %}</h1>
    <a href="/pre-login">
        <img id="navbar-img" src="{% block image %}{% endblock %}" alt="User Image">
        <span class="hover-text">{% block hovertext %}{% endblock %}</span>
    </a>
</header>
<main id="main-content">
    <section id="partone">
        <div class="header">
            <h2>{% block subtitle1 %}{% endblock %}</h2>
        </div>
        {% block section1 %} {% endblock %}
        <h4 class="main">{% block intro1 %}{% endblock %}</h4>
        <a id="a"></a>
        <div class="input">
            <a href="{{ input_url1 }}" class="input">
                <p class="main lg">[ click to get input ]</p>
            </a>
        </div>
        <div class="shimmer">
            <form action="#a" method="post">
                <div class="form-box">{% block solution1 %}{% endblock %}</div>
            </form>
        </div>
    </section>
    {% if parttwo %}
    <section id="parttwo">
        <div class="header">
            <h2>{% block subtitle2 %}{% endblock %}</h2>
        </div>
        {% block section2 %}{% endblock %}
        <p class="main">{% block intro2 %}{% endblock %}</p>
        <a id="b"></a>
        <div class="input">


            <a href="{{ input_url2 }}" class="input">
                <p class="main lg">[ click to get input ]</p>
            </a>


        </div>
        <div class="shimmer">
            <form action="#b" method="post">
                <div class="form-box">{% block solution2 %}{% endblock %}</div>
            </form>
        </div>
        {% if done %}
        <form class="form-box" action="/access" method="post">
            <input type="hidden" name="num" value="{{ obscure_post(num) }}">
            <button>Access Discussion Channel</button>
        </form>
        {% endif %}
    </section>
    {% endif %}
</main>
</body>
</html>
