{% extends "default.html" %}

{% block title %} Challenge Champions {% endblock %}

{% block image %}
{% if img.startswith('http') %}
{{ img }}
{% else %}
{{ url_for('static', filename=img) }}
{% endif %}
{% endblock %}

{% block hovertext %} {{ text|safe }} {% endblock %}

{% block main %}
<section id="announcement">
    <div class="imgcontainer">
        <img src="{{ url_for('static', filename='images/index/goodjob.png') }}" alt="Congratulations Image">
    </div>
    <div>
        <h1>Congratulations</h1>
        <h3>to everyone who completed both parts of all 10 weeks!</h3>
        {% for i in range(champions|length) %}
        {% if githubs[i] %}
        <a href="https://github.com/{{ githubs[i] }}" target="_blank" rel="noopener noreferrer nofollow" >
            <p>{{ champions[i] }}
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
                     style="height:20px; width:20px;" alt="Github Link for {{ champions[i] }}"/>
            </p>
        </a>
        {% else %}
        <p>{{ champions[i] }}</p>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
