<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Coding Challenge Adventure</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
<a href="#main-content" class="skip-link">Skip to Main content</a>
<header>
    <h1>{% block title %}{% endblock %}</h1>
    <a href="/pre-login">
        <img id="navbar-img" src="{% block image %}{% endblock %}" alt="User Image">
        <span class="hover-text">{% block hovertext %}{% endblock %}</span>
    </a>
</header>
<main id="main-content">
    {% block main %}
    {% endblock %}
</main>
</body>
</html>
