{% extends "default.html" %}

{% block title %}
Practical Python
<br>
Coding Challenge Adventure
{% endblock %}

{% block image %}
{% if img.startswith('http') %}
{{ img }}
{% else %}
{{ url_for('static', filename=img) }}
{% endif %}
{% endblock %}

{% block hovertext %} {{ text|safe }} {% endblock %}

{% block main %}
<div id="help" class="right">
    <a href="/champions">
        <span class="icon"> Champions </span>
        <span class="material-symbols-outlined icon" alt="Champions">
            social_leaderboard
        </span>
    </a>
    <a href="/help">
        <span class="icon"> How-To </span>
        <span class="material-symbols-outlined icon" alt="Help">
            help
        </span>
    </a>
    <a href="/pre-login">
        <span class="icon"> {{ text | replace('<br>with Discord', '') }} </span>
        <span class="material-symbols-outlined icon" alt="{{ text | replace('<br>with Discord', '') }}">
            login
        </span>
    </a>
</div>
<section id="logo">
    <div class="imgcontainer">
        <img src="{{ url_for('static', filename='images/index/logo.png') }}" alt="Illustration of Xarlos in space">
    </div>
    <div>
        <p>
            Greetings! I'm Xarlos. It's like Carlos, but from Space. I'm the commander of the STS
            Solara, and it's a pleasure to meet you.
        </p>
        <p>
            Something evil is creeping from the depths of the universe and I need your help--fast!
            My crew and I have a critical mission to stop it, and without your Python skills,
            we don't stand a chance against it.
        </p>
        <p>
            Time is of the essence. The fate of our mission and the entire crew rests on your
            expertise. There's no time to delay; we must act now to ensure the safety of all
            humankind.
        </p>
        <p>
            Join me and my crew aboard the STS Solara. Your contribution will be invaluable
            as we face these challenges head-on. Together, we will navigate the cosmos
            and confront whatever obstacles lie ahead. What do you say?
        </p>
    </div>
</section>
<section id="challenges">
    <ul>
        {% for week in range(1, num + 1) %}
        <li>
            <a href="/challenge/{{ obfuscate(week) }}">Week {{ week }}</a>
            {% if rockets[week - 1][0] %}
            <span class="material-symbols-outlined icon on" alt="finished part 1">rocket</span>
            {% else %}
            <span class="material-symbols-outlined icon off" alt="part 1">rocket</span>
            {% endif %}
            {% if rockets[week - 1][1] %}
            <span class="material-symbols-outlined icon on" alt="finished part 2">rocket_launch</span>
            {% else %}
            <span class="material-symbols-outlined icon off" alt="part 2">rocket_launch</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if num < 10 %}
    More Challenges Coming Soon...
    {% endif %}
</section>
{% endblock %}
