{% extends "default.html" %}

{% block title %}
    Login with Discord
{% endblock %}

{% block image %}
    {{ url_for('static', filename=img) }}
{% endblock %}

{% block hovertext %}
    {{ text|safe }}
{% endblock %}

{% block main %}
    <section id="announcement">
        <div class="imgcontainer">
            <img src="{{ url_for('static', filename='images/index/hi.png') }}">
        </div>
        <div>
            <p>
                Logging into your Discord account will save your progress with completed challengeson this 
                site. Additionally, this app gives you access to private discussion channels for each 
                challenge within the Practical Python server.
            </p>
            <p>
                If you are not a member of the Practical Python server, this app will join that server for you. 
                The purpose of this is to provide you a forum in which to discuss your solution and see the 
                solutions of other challengers. 
            </p>
            <p>    
                Because of this, the login prompt will require you to allow this app to control joining servers 
                automatically for you. Practical Python does not store any of your data in its database apart 
                from your progress with these challenges. Our promise to you is that your personal information
                is never kept on file. 
            </p>
            <button onclick="location.href='/login'">Login</button>
        </div>
    </section>
{% endblock %}