<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            10
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                All Hands on Deck
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            You've navigated through the wormhole and arrived just outside of Zorak's
            <a href="https://en.wikipedia.org/wiki/Retreat_(survivalism)">secret
            hideout</a>, successfully avoiding detection by enemy ships. Suddenly, the
            tiny defector materializes again, seemingly out of nowhere, holding a large
            rolled sheet of paper. He explains that these are the 
            <span class="b i"><a href="https://en.wikipedia.org/wiki/Blueprint">blueprints
            </a>for Zorak's Battle Dome</span>, the protective shield guarding him against
            laser strikes.
        </p>
        <div class="imgcontainer">
            <img class="midpic" src="../static/images/10/blueprint.png">
        </div>
        <p>
            You unroll the blueprints, but before you can examine them, Captain Xarlos
            interrupts, <span class="b i">calling 
            <a href="https://www.dictionary.com/browse/all-hands-on-deck">all hands to
            the Main Deck</a></span>. The ship's 
            <a href="https://en.wikipedia.org/wiki/Laser">high-powered laser</a> needs
            to be manned for upcoming attack, and your assistance is required with
            logistics. <span class="b i">The hallways leading to the Main Deck have
            different capacities</span>, allowing varying numbers of crew members to
            pass through simultaneously.
        </p>
        <p>
            <span class="b i">Starting from the source, Storage Room 1 (S1)</span>, the
            crew must <span class="b i">choose their paths through the hallways</span>,
            passing other storage rooms or junctions, <span class="b i">to reach the sink,
            the Main Deck (MD)</span>. Captain Xarlos emphasizes the need for fast,
            efficient movement and <span class="b i">requests a calculation of the
            <a href="https://en.wikipedia.org/wiki/Ford%E2%80%93Fulkerson_algorithm">
            maximum flow</a></span>—the greatest number of crew members that can move
            through the hallways at one time.
        </p>
        <p>
            You quickly annotate <span class="b i">the floor plan</span> on your
            holographic tablet, <span class="b i">listing each hallway by its connecting
            rooms, separated by a hyphen, followed by a space and the hallway's
            capacity</span>—this serves as your puzzle input.
        </p>
        <p>
            It's crucial that no crew members linger in any room or hallway, as this would
            restrict the flow. The entire crew that <span class="b i">starts from the
            source (S1) must travel to the sink (MD) and arrive together</span>. Captain
            Xarlos awaits your calculation of the maximum number of crew members that can
            flow through the hallways simultaneously so he can efficiently instruct his
            sizable crew.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            With your source at <span class="code part">A</span>, your sink at
            <span class="code part">F</span>, and a floor plan like
            <span class="code free">
                A-B 3<br>
                A-C 3<br>
                B-C 2<br>
                B-D 3<br>
                C-E 2<br>
                D-E 4<br>
                D-F 2<br>
                E-F 3
            </span>
            Your task is to find the paths that result in <span class="b i">getting
            the most possible crew members to the sink, given the hallways' capacity
            restrictions</span>.
        </p>
        <div class="imgcontainer">
            <img class="fill" src="../static/images/10/example.gif">
        </div>
        <p>
            Demonstrated in the animation above, you can see the best paths to
            achieve the maximum possible flow from the source to the sink.
        </p>
        <p>
            In discovering this most efficient selection of paths, you can
            determine that the maximum flow for this floor plan is
            <span class="code part">5</span>.
        </p>

        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Your source is <span class="code part main">S1</span> and your sink is
            <span class="code part main">MD</span><br>Here is your floor plan:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/10/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/10/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the maximum flow?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                Breach the Battle Dome™
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            The crew is in place and ready to commence. In the distance, you can see
            Zorak, protected inside his Battle Dome.
        </p>
        <div class="imgcontainer">
            <img class="midpic" src="../static/images/10/orb.png">
        </div>
        <p>
            According to the blueprint, this dome is a <span class="b i">lattice of
            interconnecting points, each with specific pathways for energy flow</span>.
            There is only <span class="b i">one viable point of attack—Point 0</span>.
        </p>
        <div class="imgcontainer">
            <a href="../static/images/10/blueprint.png">
                <img class="fill" src="../static/images/10/blueprint.png">
            </a>
        </div>
        <p>
            Any laster blast targeting elsewhere on the shield will be deflected.
            However, when struck at Point 0, <span class="b i">the dome is designed to
            <a href="https://en.wikipedia.org/wiki/Dissipation">dissipate</a> the energy
            across all its connective edges</span>. Each interconnecting point has a 
            direction and a capacity for the amount of energy it can transmit.
        </p>
        <p>
            To successfully penetrate the Battle Dome, you must <span class="b i">deliver
            a precise blast of energy from the laser</span>. Sending <span class="b i">too
            little energy will dissipate</span> across the edges and weaken the blast, while
            sending <span class="b i">too much will cause a short-circuit</span> if the
            capacity of any edge is exceeded with no alternative paths available to handle
            the overflow. Your task is to calculate the <span class="b i">maximum flow from
            the source (Point 0) to the 5 sinks (Points 76, 77, 78, 79, and 80)</span>. 
        </p>
        <p class="hint-label ssm"> HINT (mouse-over to view):</p>
        <p class="hint ssm">
            Maximum flow algorithms work when there is only 1 sink. How would you connect
            these 5 sinks into one final imaginary sink to aggregate the maximum flow from
            all areas of the dome, and what should you consider for the capacity for these
            imaginary edges?
        </p>
        <p>
            The tiny defector has also provided you with a <span class="b i">list of
            capacities for each edge, your puzzle input</span>, formatted similarly to your
            previous floor plan annotations. Connecting points are separated by hyphens,
            followed by a space and the capacity for that edge. <span class="b i">A listed
            capacity of "Inf" indicates infinite capacity, meaning there is no limitation on
            the energy that can flow between those two points</span>. 
        </p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Your source is <span class="code part main">S1</span> and your sinks are
            <span class="code part main">76 77 78 79 80</span><br>Here is your list of capacities:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/10/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/10/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is precise amount of energy required to defeat Zorak?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
