<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            2
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                What a Mess!
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            You awake, ready to start a new day. Your 
            <a href="https://en.wikipedia.org/wiki/Holographic_display">
                holographic tablet
            </a>dings, displaying a message:
        </p>
        <p class="shadow pad">
            Rise and shine, Cadet! Due to your exemplary performance in the 
            Comms Bay, we are assigning you to the Electrical Control Room. 
            Report there at 0800 hours.
        </p>
        <p>
            When you arrive, the room is in chaos. The crew are grabbing at piles 
            of loose paper, which completely cover the floor. The pages seem to 
            be from an instruction manual of sorts. Someone sees you standing 
            there and tells you to grab some paper and 
            <span class="b i">sort them</span>, 
            leaving before you can ask any questions. You grab a pile.
        </p>
        <p>
            The sheets of printed paper do not have page numbers, but they all 
            have a <span class="b i">header</span> printed at the top:
        </p>
        <p class="header shadow pad b i">
        Section Title, Chapter Number, Subchapter Letter, Section Number
        </p>
        <p>
            Your puzzle input in a CSV file with the each page's header on 
            individual lines. You decide to sort the pages like any book — 
            first by chapter, then by subchapter, then by section. Each 
            category sorted in ascending order.
        </p>
        <p>
            When everyone is done sorting their piles, you assume you will 
            have to work together to combine all your piles into one, so you 
            decide to create a 
            <a href="https://en.wikipedia.org/wiki/Mnemonic">
                mnemonic
            </a>
            out of the 
            <span class="b i">
                first letters of the sorted Section Titles
            </span>
            to help you contribute to this collaboration.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            If your pages are
        </p>
        <span class="code free">
            title,chapter,subchapter,section<br>
            Cosmos,2,J,3<br>
            Planets,2,A,9<br>
            Exploration,3,Y,2<br>
            Stars,1,X,4<br>
            Astronauts,2,J,1
        </span>
        <p>
            You would sort them first by Chapter Number, then by Subchapter
            Letter, and finally by Section Number to get
        </p>
        <span class="code free">
            ["Stars", "1", "X", "4"]<br>
            ["Planets", "2", "A", "9"]<br>
            ["Astronauts", "2", "J", "1"]<br>
            ["Cosmos", "2", "J", "3"]<br>
            ["Exploration", "3", "Y", "2"]
        </span>
        <p>
            And the first letters of the Section Titles would spell out
            <span class="b i">"SPACE"</span>.
        </p>
        <p>
            The rest of the crew are almost done. You should quickly sort
            your pile of pages.
        </p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Your pages are:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/02/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/02/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main" for="answer1">
                        What do the first letters of your Section Titles spell?<br>
                    </label>
                    <input type="text" name="answer1" placeholder="..." autocomplete="off" disabled>
                    <button disabled>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">
                            Your answer was 
                            <span class="b i">
                                EXPLORING THE COSMOS: AN INCREDIBLE JOURNEY THROUGH SPACE, ONE GALAXY AT A TIME.
                            </span>.
                        </label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                BrailLED
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            Now that that's all sorted, no pun intended, it's time to get 
            to work. The stress of this new assignment, caused by the chaos 
            of the paper storm, has left you feeling overwhelmed. It seems 
            like the Electric Control Room might not be the place for you. 
            You should put in a 
            <span class="b i">
                Change of Assignment request 
            </span>
            with the Operations Manager, but you've left your holographic 
            tablet in your bunk. That's okay, because aboard the ship, all 
            devices have the capability of communicating with the Operations 
            Manager, provided there's a screen to display the reply.
        </p>
        <p>
            Luckily for you, you're stood in front of the
            <span class="b i">
                "Binary&nbsp;Represented&nbsp;All&#8209;Inclusive&nbsp;Lettering&nbsp;LED"
            </span>
            System, or <span class="b i">"BrailLED"</span> for short.
        </p>
        <p>
            The BrailLED is a long strip of 
            <a 
            href="https://en.wikipedia.org/wiki/Light-emitting_diode">LED lights</a>,
            totaling <span class="b i">six rows</span> and 
            <span class="b i">fifty&#8209;two columns</span> of individual lights.
        </p>
        <div class="imgcontainer shadow pad">
            <img src="../static/images/02/strip.png">
        </div>
        <p>
            Transmissions are sent to the LED lights as 
            <span class="b i">
                a packet of tuples. 
            </span>
            The first item of the tuple is a binary string and the second 
            is a column header. 
            <ul>
                <li>
                    The BrailLED display Columns, from left to right, are
                    labeled with sorted uppercase letters, A&#8209;Z, 
                    followed by sorted lowercase letters, a&#8209;z.
                </li>
                <li>
                    For each column, the binary string fills the column form
                    top to bottom, assigning the individual lights in that 
                    column <span class="b i">ON for 1</span> or 
                    <span class="b i">OFF for 0</span>. 
                </li>
            </ul>
        </p>    
        <div class="flex-container shadow">
            <div class="column">
                <div class="imgcontainer">
                    <img src="../static/images/02/braille.png">
                </div>
            </div>
            <div class="column">
                <p class="column-content">
                    The resulting LED display is a 
                    <span class="b i">two&#8209;row, 26&#8209;column 
                    strip of 3x2 light groupings</span>, each grouping 
                    representing one letter in 
                    <a href="https://en.wikipedia.org/wiki/Braille">braille</a>. 
                </p>
                <span class="spacer"><br></span>
                <p class="column-content">
                    The message is then read by interpreting the first line of 
                    26 braille symbols and then the second line, without any
                    additional spaces.
                </p>
            </div>
        </div>
        <p>
            Someone must have bumped the BrailLED amidst all the confusion this 
            morning, because the inputs are not coming in sorted. You will have 
            to sort the inputs first before letting the LED display show you your 
            message in braille.
        </p>
        <h4>
            For example (with a shorter 6-column display):
        </h4>
        <div class="imgcontainer">
            <p>If the transmission you receive is
                <span class="code free">
                    000110,c<br>
                    000010,a<br>
                    111100,C<br>
                    111101,A<br>
                    100011,b<br>
                    100110,B
                </span>
            </p>
        </div>
        <div class="imgcontainer">
            You would sort it&nbsp;&nbsp;
            <span class="code free">
                111101,A<br>
                100110,B<br>
                111100,C<br>
                000010,a<br>
                100011,b<br>
                000110,c
            </span>
        </div>
        <p>
            Column A is, from top to bottom, 
            <span class="code part">
                111101
            </span>
            making the lights
            <span class="code part">
                ON ON ON ON OFF ON
            </span>
        </p>
        <p>
            Filling in all of the columns, your BrailLED Display 
            would look like this:
        </p>
        <div class="imgcontainer">
            <img class="smallpic" src="../static/images/02/sample.png">
        </div>
        <p>
            Reading left to right, top to bottom, starting with the first row
            we have the braille 
            <span style="font-size: xx-large">
                ⠏⠇⠁⠝⠑⠞
            </span>
            which spells
            <span class="code part">
                PLANET</span>.
        </p>
        <p>
            Your transmission is coming in now. Will you get a new assignment
            for tomorrow?
        </p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is your received transmission:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/02/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/02/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main" for="answer2">What does the braille on the panel spell out?<br></label>
                    <input type="text" id="answer2" placeholder="..." disabled>
                    <button disabled>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
