<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            9
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Get Us Outta Here
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            You wake up to find the Dokarian defector standing far too close to your face,
            staring at you intently. Startled, you nearly leap to the opposite end of your
            bunk. Clearly, these beings are not familiar with the concepts of privacy or
            <a href="https://en.wikipedia.org/wiki/Proxemics">personal space</a>. He
            proudly announces that he's finished with his <span class="b i">map to Zorak</span>
            and hands you a piece of paper, your puzzle input. However, instead of
            containing any legible coordinates or paths, it has <span class="b i">a list of
            <a href="https://en.wikipedia.org/wiki/Node_(computer_science)">nodes</a> and
            their connections</span>.
        </p>
        <p>
            He explains that the path to Zorak's hideout must first cross a
            <a href="https://en.wikipedia.org/wiki/Nebula">Nebula</a>
            <a href="https://en.wikipedia.org/wiki/Labyrinth">Labyrinth</a>, riddled with
            electromagnetic storms. <span class="b i">The node system reveals the paths that
            avoid the storms</span>, guiding the ship safely outside the Nebula Labyrinth.
        </p>
        <p>
            You realize you need to take this information to Captain Xarlos on the
            <a href="https://en.wikipedia.org/wiki/Bridge_(nautical)">Bridge</a>, but first,
            you must make sense of this strange system. Your task is to scour the
            <span class="b i lg">depths</span> of the Nebula Labyrinth and find
            <span class="b i">the safest path through the storms</span>.
        </p>
        <p>
            Your paper contains
        </p>
        <ul>
            <li><span class="b i">First Line</span></li>
            <ul>
                <li>
                    The <span class="b i">starting node and ending node</span>,
                    separated by a comma.
                </li>
                <li>
                    This represents the ship's current location and the exit of
                    the Nebula Labyrinth.
                </li>
            </ul>
            <li class="pad"><span class="b i">Subsequent Lines</span></li>
            <ul>
                <li>
                    All the <span class="b i">nodes and their connections, separated
                    by colons</span>.<br>(node:connection)
                </li>
                <li>
                    Each node-connection combination is on its own line.
                </li>
                <li>
                    If a node has <span class="b i">multiple connections</span>,
                    those connections are <span class="b i">separated by commas.</span>
                </li>
            </ul>
        </ul>
        <p>
            You can guide Captain Xarlos through the shortest path, but he first would
            like to know <span class="b i">how many units of space must be traversed</span>.
            <br><span class="sm">(Each node represents one unit of space.)</span>
        </p>
        <h4>
            For example:
        </h4>
        <div class="flex-container">
            <div class="container-item">
                Consider this data
                <span class="code free">
                    10,31<br>
                    10:18<br>
                    12:13,20<br>
                    13:12,14<br>
                    14:13,15,22<br>
                    15:14<br>
                    18:10,26<br>
                    20:12,28<br>
                    22:14,30<br>
                    26:18,27<br>
                    27:26,28<br>
                    28:27,29<br>
                    29:28,30<br>
                    30:22,29,31<br>
                    31:30
                </span>
            </div>
            <div class="column">
                <div class="column-content">
                    You see in the first line that the starting node is 
                    <span class="code part">10</span> and the ending node is
                    <span class="code part">31</span>.
                </div>
                <div class="spacer"></div>
                <div class="column-content">
                    If it helps to visualize this as a 2D maze, it would
                    look like this
                </div>
                <div class="spacer"></div>
                <div class="column-content">
                    <table class="map">
                        <tr>
                        <td>#</td><td>#</td><td>#</td><td>#</td>
                        <td>#</td><td>#</td><td>#</td><td>#</td>
                        </tr>
                        <tr>
                        <td>#</td><td class="o">10</td><td>#</td><td class="o">12</td>
                        <td class="o">13</td><td class="o">14</td><td class="o">15</td><td>#</td>
                        </tr>
                        <tr>
                        <td>#</td><td class="o">18</td><td>#</td><td class="o">20</td>
                        <td>#</td><td class="o">22</td><td>#</td><td>#</td>
                        </tr>
                        <tr>
                        <td>#</td><td class="o">26</td><td class="o">27</td><td class="o">28</td>
                        <td class="o">29</td><td class="o">30</td><td class="o">31</td><td>#</td>
                        </tr>
                        <tr>
                        <td>#</td><td>#</td><td>#</td><td>#</td>
                        <td>#</td><td>#</td><td>#</td><td>#</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <p>
            Following the nodes' connections, you can take a different of paths:
            <ul>
                <li>10-18-26-27-28-20-12-13-14-22-30-31 : 12 units of space</li>
                <li>10-18-26-27-28-29-30-31 : 8 units of space</li>
            </ul>
            The shortest path through this map is <span class="code part">8</span>
            units of space long.
        </p>
        <div class="imgcontainer">
            <table class="map">
                <tr>
                <td>#</td><td>#</td><td>#</td><td>#</td>
                <td>#</td><td>#</td><td>#</td><td>#</td>
                </tr>
                <tr>
                <td>#</td><td class="select">10</td><td>#</td><td class="o">12</td>
                <td class="o">13</td><td class="o">14</td><td class="o">15</td><td>#</td>
                </tr>
                <tr>
                <td>#</td><td class="select">18</td><td>#</td><td class="o">20</td>
                <td>#</td><td class="o">22</td><td>#</td><td>#</td>
                </tr>
                <tr>
                <td>#</td><td class="select">26</td><td class="select">27</td><td class="select">28</td>
                <td class="select">29</td><td class="select">30</td><td class="select">31</td><td>#</td>
                </tr>
                <tr>
                <td>#</td><td>#</td><td>#</td><td>#</td>
                <td>#</td><td>#</td><td>#</td><td>#</td>
                </tr>
            </table>
        </div>
        <p>
            Now, it's time to navigate the actual map through the Nebula Labyrinth.
        </p>
        
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is your data for the starting point, ending point, and nodes:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/09/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/09/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">How many units of space does the shortest path traverse?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                Wormholey Moley!
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            At the Bridge, Captain Xarlos is delighted to have a map to Zorak. Together, you
            expertly navigate the ship through the electromagnetic storms, following your
            path. Once clear of the Nebula Labyrinth, you find yourselves in a
            <span class="b i">clearing of open space</span>. There's no sign of Zorak in sight,
            so there must be <span class="b i">more to the route ahead</span>, but what?
        </p>
        <p>
            Just then, you see Captain Xarlos' face 
            <a href="https://dictionary.cambridge.org/dictionary/english/as-white-as-a-sheet">
                turn white</a>,
            his hand ready on his <a href="https://en.wikipedia.org/wiki/Raygun">space blaster</a>,
            staring just above your left shoulder. You instantly know it must be the tiny defector,
            but you turn to look anyway while trying to reassure the captain that everything is
            fine. Captain Xarlos is skeptical but ultimately trusts you and relaxes a bit as you
            explain the creature.
        </p>
        <p>
            It turns out, <span class="b i">the small Dokarian has forgotten to give you the other
            half of the directions to Zorak</span>. He provides you with <span class="b i">another
            sheet of nodes</span>, in the same format as before. This time, there are no storms
            blocking your path, but instead, a <span class="b i">vast open space guarded by Zorak's
            <a href="https://en.wikipedia.org/wiki/Stealth_technology">stealth army</a></span>.
            The nodes represent paths on the map that are outside of the
            <a href="https://en.wikipedia.org/wiki/Line_of_sight">line of sight</a> of those enemy
            ships.
        </p>
        <p>
            You will need to <span class="b i">travel through
            <a href="https://en.wikipedia.org/wiki/Wormhole">wormholes</a></span> to reach Zorak.
            The issue is that <span class="b i">each wormhole can connect to a great many other
            nodes</span>, reflected on your puzzle input, and choosing <span class="b i">the wrong
            node could add hours or even days to your journey</span>. Following every path from a
            wormhole will not be the most efficient route. It's clear that scouring the depths of
            space won't work. Instead, consider examining the <span class="b i lg">breadth</span>
            of space for a more effective strategy.
        </p>
        <p>
            For this mission as well, Captain Xarlos must determine <span class="b i">how many
                units of space will be traversed</span>.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            You will recognize wormholes on your document by the large number of connections that
            the node has. While most nodes connect to just a few other nodes (usually up, down,
            left, or right if you think of it as a 2D grid), wormholes connect to many more.
            <span class="code free">
                297:197,1209,1573,1733,2127,3168,3176,3184,3252,3754,3758, …
            </span>
            Apart from that, units of space are measured exactly the same as before with the
            wormhole node counting as one unit, and the connection you choose to follow counting
            as another.
        </p>
        <p>
            Help come up with a plan so you and Captain Xarlos can navigate your way to Zorak,
            avoiding detection.
        </p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is your data for the starting point, ending point and nodes:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/09/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/09/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">How many units of space does the shortest path traverse?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
