<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            8
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Full of Beans
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            What could the propaganda mean by coffee? The only place aboard the ship to get
            a cup of coffee is the coffee machine in the Crew Quarters' common room. No
            one's around so you put the propaganda paper down on the table and start to
            make a cup for yourself.
        </p>
        <p>    
            Suddenly, you hear a small high-pitched voice behind you. Turning around,
            you see what looks like a tiny Zorak, about 20cm tall.
        </p>
        <div class="imgcontainer">
            <img class="smallpic" src="../static/images/08/dokariandefector.png">
        </div>
        <p>    
            You whip around, keeping an eye out for some sort of weapon while trying not
            to break eye contact with the creature. Sensing your distress, he quickly
            tells you that he has come in peace, explaining further that he is a
            <a href="https://en.wikipedia.org/wiki/Defection">defector</a>
            from the Dokarian army, led by Zorak. He left the propaganda on the ship
            in hopes someone would find it and get in touch because he has important
            information to share.
        </p>
        <p>    
            Zorak has taken over the Dokarian race and now rules oppressively over the
            entire planet. His army seeks to conquer the galaxy but provides no support
            to the beings under his rule. This Dokarian defector wants your help to
            overthrow this dictator and restore peace to the planet Dokar. You are
            skeptical, but something about his eyes tells you that you can trust him.
            The tiny defector says he needs to prepare some documents for you—
            <span class="b i">a map</span> to travel directly to Zorak, avoiding his
            entire fleet, and <span class="b i">the blueprints of a shield</span> that
            protects him. He promises to be in touch soon and asks you to wait for him.
        </p>
        <hr>
        <p>    
            In the meantime, you look around at the state of the common area. A new
            shipment of coffee beans had arrived just in time, as there was nothing left
            from the old shipment besides the handful of beans inside the machine. All
            the bags of coffee beans are enclosed in a big
            <a href="https://en.wikipedia.org/wiki/Knapsack_problem">knapsack</a>, waiting
            to be stored on the shelf in the common area. To kill time, you decide to take
            some initiative and <span class="b i">stock some coffee</span>.
        </p>
        <p>    
            There are <span class="b i">100 bags of coffee beans in varying sizes</span>
            from all over Earth, and they will not all fit on the shelf. You scan the
            inventory list with your holographic tablet and get a comma-separated document
            of the shipment, which shows the <span class="b i">country, bean type, roast,
            width of the bag, and popularity rating</span>—your puzzle input.
        </p>
        <p>
            You want to <span class="b i">stock the shelves efficiently</span>. This means
            implementing a method to store bags of coffee on the shelf with
            <span class="b i">the best possible popularity rating while minimizing wasted
            space</span>.
        </p>
        <p>
            By organizing the coffee bags this way, you can ensure that the shelf is
            stocked with the best selection for the crew.
        </p>
        <h4>
            For example, look at a small shelf of <span class="code part">70</span>mm:
        </h4>
        <p>
            If you have the following inventory
            <span class="code free">
                country,bean,roast,width,rating<br>
                Jamaica,Arabica,Light Roast,40,5<br>
                Brazil,Robusta,French Roast,20,3<br>
                Columbia,Typica,French Roast,30,4<br>
                Uganda,Arabica,Vienna Roast,10,2<br>
                Mexico,MundoNovo,Cinnamon Roast,30,2
            </span>
            To minimize wasted space you should fill the shelf with coffee bags totaling
            as close to 70mm as possible.
        </p>
        <p>
            Several combinations are possible: Choosing the coffees from 
            <span class="b i">Jamaica and Columbia</span> total 70mm. 
            <span class="b i">Jamaica and Mexico</span> too. Additionally smaller bags
            can total up to 70mm like the bags from <span class="b i">Columbia, Uganda,
            and Mexico</span>. With so many options, it is simply a matter of choosing
            the option <span class="b i">which results in the greatest total popularity
            rating</span>.
        </p>
        <div class="imgcontainer">
            <table>
                <tr>
                <th>Coffee Bags</th>
                <th>Total Width</th>
                <th>Total Rating</th>
                </tr>
                <tbody class="P2">
                    <tr>
                        <td>Jamaica+Columbia</td>
                        <td>70</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>Jamaica+Mexico</td>
                        <td>70</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Columbia+Uganda+Mexico</td>
                        <td>70</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Jamaica+Brazil</td>
                        <td>60</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Brazil+Uganda+Mexico</td>
                        <td>60</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td class="select">Jamaica+Brazil+Uganda</td>
                        <td class="select">70</td>
                        <td class="select">10</td>
                    </tr>
                    <tr>
                        <td>Brazil+Columbia+Uganda</td>
                        <td>60</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>Columbia+Mexico</td>
                        <td>60</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Although several combinations fill the shelf close to 70mm, The
            combination of <span class="b i">Jamaica Arabica Light Roast, Brazil
            Robusta Dark Roast, Uganda Arabica French Roast</span> have the best
            total popularity rating of <span class="code part">10</span>.
        </p>

        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Your shelf is <span class="main code part">500</span> mm wide.<br>
            Here is the inventory of all the coffee beans:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/08/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/08/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the sum of the popularity ratings?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                Bean Around the World
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            After finishing stocking the shelf, you look around for the Dokarian defector.
            Come to think of it, he didn't specify how soon he would be back, if at all today.
            You take a look at your stocked shelf and notice that the selection is not that
            great. There are duplicates of the same type of coffee bean or roast type on the
            shelf which limits the selection for those who do not like that type of coffee.
            You still have some time to kill before calling it a night, so you decide to
            <span class="b i">improve the selection on the shelf</span>.
        </p>
        <p>
            In order to <span class="b i">assure a wide variety</span> of coffee bags on the
            shelf, you decide to further constrain your selections so there are
            <span class="b i">no duplicate bean types and no duplicate roasts</span>. This
            might decrease the overall popularity rating, but it will ensure that there is a
            more varied selection for the crew.
        </p>
        <p>
            Once the shelf is re-stocked, you can return to your bunk to sleep.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            Using the same shelf and inventory from Part 1's example, the answer you arrived at is
            no longer the best because there is not enough variation.
            <span class="b i">There are two bags of Arabica beans</span> on the shelf.
            <span class="b i">Removing combinations where there are duplicate bean types, or
            duplicate roasts</span> gives you fewer coffee bag combinations to consider.
        </p>
        <div class="imgcontainer">
            <table>
                <tr>
                <th>Coffee Bags</th>
                <th>Total Width</th>
                <th>Total Rating</th>
                <th>Reason Removed</th>
                </tr>
                <tbody class="P2">
                    <tr>
                        <td class="select">Jamaica+Columbia</td>
                        <td class="select">70</td>
                        <td class="select">9</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jamaica+Mexico</td>
                        <td>70</td>
                        <td>7</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Columbia+Uganda+Mexico</td>
                        <td>70</td>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Jamaica+Brazil</td>
                        <td>60</td>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Brazil+Uganda+Mexico</td>
                        <td>60</td>
                        <td>7</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="cross">Jamaica+Brazil+Uganda</td>
                        <td class="cross">70</td>
                        <td class="cross">10</td>
                        <td>Same Bean</td>
                    </tr>
                    <tr>
                        <td class="cross">Brazil+Columbia+Uganda</td>
                        <td class="cross">60</td>
                        <td class="cross">9</td>
                        <td>Same Roast</td>
                    </tr>
                    <tr>
                        <td>Columbia+Mexico</td>
                        <td>60</td>
                        <td>6</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Now, you see that you can fill the shelf without storing duplicate
            bean or roast types by choosing <span class="b i">Jamaica Arabica
            Light Roast and Columbia Typica French Roast</span> with a total
            popularity rating of <span class="code part">9</span>.
        </p>
        <p>
            It's time to restock the shelf with these constraints in mind.
        </p>

        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Your shelf is still <span class="main code part">500</span> mm wide.<br>
            Here is the inventory of all the coffee beans<br>
            <span class="main sm">(same input as Part 1)</span>:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/08/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/08/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the sum of the popularity ratings for all shelves?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
