<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 1</h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Morse De-Code
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            Welcome to your first day aboard the STS Space Ghost, 
            where you'll be venturing into the vastness of space 
            for the very first time. After settling into your cabin, 
            your next stop is to meet with the Officer on Deck, who 
            will provide you with your inaugural job assignment.
        </p>
        <p>
            To your surprise, you find yourself entrusted with the 
            important task of 
            <span class="b i">
                communications decoding
            </span> 
            in the Comms Bay, despite your limited experience in the 
            field. Fortunately, a stroke of luck comes your way when 
            you recall that a 
            <span class="b i">
                significant portion of space communication is conducted 
                using 
                <a href="https://en.wikipedia.org/wiki/Morse_code">
                    Morse Code.
                </a>
            </span>
        </p>
        <p>
            Although you've heard of Morse Code in passing, your 
            understanding of it is a bit hazy. With a sense of urgency, 
            you frantically search your desk drawer, and lo and behold! 
            Serendipity leads you to a weathered booklet with yellowing 
            pages titled 
            <span class="b i">
                "Deciphering Morse Code" a TopNet
                <span class="ssm">(_ ___ .__. _. . _)</span>
                Retroflex Inc. Publication. 
            </span>
            Inside, you discover a comprehensive 
            <span class="b i">
                table 
            </span>
            containing Letter-to-Morse Code translations, along with a 
            detailed guide on how your machine interprets the input code:
        </p>
        <div class="flex-container shadow">
            <ul>
                <li>
                    Letters in the words will be separated by 
                    <span class="b i">spaces</span> 
                </li> 
                <li>
                    Words will be separated by 
                    <span class="b i"> new lines</span> (\n) 
                </li> 
                <li> Dashes (dahs) will be represented by 
                    <span class="b i"> underscore</span> characters (_) 
                </li>
                <li> Dots (dits) will be represented by 
                    <span class="b i"> decimal point</span> characters (.)
                </li>
                <li> Dots and dashes for each letter or character will
                    <span class="b i">not</span> have spaces between them 
                </li>
            </ul>
        </div>
        <div class="imgcontainer pad">
            <table>
                <thead>
                    <tr>
                        <th>Letter</th>
                        <th>Code</th>
                        <th>Letter</th>
                        <th>Code</th>
                        <th>Letter</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>._</td>
                        <td>K</td>
                        <td>_._</td>
                        <td>U</td>
                        <td>.._</td>
                    </tr> 
                    <tr>
                        <td>B</td>
                        <td>_...</td>
                        <td>L</td>
                        <td>._..</td>
                        <td>V</td>
                        <td>..._</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>_._.</td>
                        <td>M</td>
                        <td>__</td>
                        <td>W</td>
                        <td>.__</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>_..</td>
                        <td>N</td>
                        <td>_.</td>
                        <td>X</td>
                        <td>_.._</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>.</td>
                        <td>O</td>
                        <td>___</td>
                        <td>Y</td>
                        <td>_.__</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td>.._.</td>
                        <td>P</td>
                        <td>.__.</td>
                        <td>Z</td>
                        <td>__..</td>
                    </tr>
                    <tr>
                        <td>G</td>
                        <td>__.</td>
                        <td>Q</td>
                        <td>__._</td>
                        <td>.</td>
                        <td>._._._</td>
                    </tr>
                    <tr>
                        <td>H</td>
                        <td>....</td>
                        <td>R</td>
                        <td>._.</td>
                        <td>?</td>
                        <td>..__..</td>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>..</td>
                        <td>S</td>
                        <td>...</td>
                        <td>!</td>
                        <td>_._.__</td>
                    </tr>
                    <tr>
                        <td>J</td>
                        <td>.___</td>
                        <td>T</td>
                        <td>_</td>
                        <td>-</td>
                        <td>_...._</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>
            For example:
        </h4>
        <span class="code" style="font-family: 'Roboto Mono', monospace;">
            ... .__. ._ _._. .<br>
            __. .... ___ ... _
        </span>
        <p>
            results in "SPACE GHOST".
        </p>
        <p>
            Each word is separated by a new line character and each letter in the
            words "SPACE" and "GHOST" are separated by a space, but there are no 
            spaces between the Morse Code dashes and dots of individual letters: 
        </p> 
        <p>
            You decide that you should quickly make a Python script which reads 
            the input from the machine and decodes the Morse Code into text for 
            you. Just in time, too, because the first message is already coming 
            in... 
        </p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Decode the message:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/01/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/01/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main" for="answer1">What is the message?<br></label> 
                    <input type="text" name="answer1" placeholder="..." autocomplete="off" disabled>
                    <button disabled>Submit</button>
                    <!--form end-->
                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was 
                            <span class="b i">
                                WE HAVE HEARD STORIES OF THIS ZORAK. WHAT IS ZORAK?
                            </span>.
                        </label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                Something Alien...
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            Just as you translate the question received, another source sends a reply. 
            This must be the answer to the question previously asked, but the contents
            of the new message cause your script to error. This is not Morse Code; it 
            looks like <span class="b i">something alien</span>.
        </p>
        <p>
            Rather than panic and run to your supervisor, you set your mind toward 
            solving this problem on your own. You re-read your Morse Code booklet to 
            no avail and open your desk drawer to see if there might be anything else 
            in there that could be of use… Nothing.
        </p>
        <p>
            Sighing heavily and putting your head in your hands, you catch a glimpse of 
            a poster on the wall beside your monitor, which you hadn't noticed before. 
            It's titled, <span class="b i">"O.B.M.T. for Alien Communication"</span>,
            and it reads:
        </p>
        <ol>
            <li>
                Convert each character to its 
                <span class="b i">
                    Ordinal
                </span>
                <span class="sm">
                    (Unicode code points)
                </span>
            </li>
            <li>
                Concatenate those numbers to one large integer, then into
                <span class="b i">
                    Binary
                </span>
            </li>
            <li>
                Convert the Binary number into
                <span class="b i">
                    Morse Code
                </span>
                <span class="sm">
                    (considering the 0s dits and the 1s dahs)
                </span>
            </li>
            <li>
                Convert the Morse Code into
                <span class="b i">
                    Text
                </span>
            </li>
        </ol>
        Underneath the fourth step there's a footnote:
        <p class="shadow pad">
            <span class="b i">
                ※ Alien communication is always only one word.
            </span>
            Each received alien transmission has 
            <span class="b i">
                three 
                <a href="https://en.wikipedia.org/wiki/Exclamation_mark">
                    Exclamation Marks
                </a>
                at both the start and end of the message,
            </span>
            with 
            <span class="b i">
                one Exclamation Mark between each letter.
            </span>
        </p>
        <h4>
            Here's an example of the alien input
        </h4>
        <span class="code">
            ʄɾÄΨREmϣ
        </span>
        <ol>
            <li>
                Converting each character it's Ordinal, you get<br>
                <span class="code part sm">
                    ʄ=644 ɾ=638 Ä=196 Ψ=936 R=82 E=69 m=109 ϣ=995
                </span>
            </li>
            <li>
                Concatenating those numbers to one large integer<br>
                <span class="code part sm">
                    6446381969368269109995
                </span><br>
                and converting that number to Binary, you get<br>
                <span class="code part sm">
                    1010111010111010110000101011001101011<br class="mbl">
                    111010110110101110101011101011101011
                </span>
            </li>
            <li>
                Converting the Binary into Morse Code, you would get<br>
                <span class="code part sm">
                    _._.___._.___._.__...._._.__..__._.____<br class="mbl">
                    _._.__.__._.___._._.___._.___._.__
                </span><br>
                Removing the exclamation marks on both ends and between 
                each letter, you get<br>
                <span class="code part sm">
                    &nbsp;(!)&nbsp;&nbsp;&nbsp;(!)&nbsp;&nbsp;&nbsp;(!)&nbsp;&nbsp;....&nbsp;(!)&nbsp;&nbsp;.._&nbsp;(!)&nbsp;&nbsp;__
                    <br class="mbl">
                    &nbsp;(!)&nbsp;&nbsp;._&nbsp;(!)&nbsp;&nbsp;_.&nbsp;(!)&nbsp;&nbsp;&nbsp;(!)&nbsp;&nbsp;&nbsp;(!)&nbsp;
                </span><br>
                or
                <span class="code part sm">
                    .... .._ __ ._ _.
                </span>
            </li>
            <li>
                Converting this Morse Code into text gives you:<br>
                <span class="code part">HUMAN</span>
            </li>
        </ol> 
        <p> 
            So
            <span class="code part">ʄɾÄΨREmϣ</span>
            translates to
            <span class="code part">HUMAN</span><br>
        </p>
        <p>
            You think you've got the hang of this! Time to decode the alien message... 
        </p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            The message you received is:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/01/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/01/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main" for="answer2">What is Zorak?<br></label>
                    <input type="text" name="answer2" placeholder="..." autocomplete="off" disabled>
                    <button disabled>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was 
                            <span class="b i">DOKARIAN</span>.
                        </label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
