<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 1</h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Morse De-Code
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>...</p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Decode the message:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/01/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/01/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main" for="answer1">What is the message?<br></label> 
                    <input type="text" name="answer1" placeholder="..." autocomplete="off">
                    <button>Submit</button>
                    <!--form end-->
                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was 
                            <span class="b i">WE HAVE HEARD STORIES OF THIS ZORAK. WHAT IS ZORAK?</span>.
                        </label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Something Alien...
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>...</p>
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            The message you received is:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/01/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/01/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main" for="answer2">What is Zorak?<br></label>
                    <input type="text" name="answer2" placeholder="..." autocomplete="off">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was 
                            <span class="b i">DOKARIAN</span>.
                        </label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
