<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            6
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Here Comes a Sun
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            Today's assignment is in the
            <a href="https://en.wikipedia.org/wiki/Thermal_management_(electronics)">
                Thermal Defense
            </a>
            Room. This room serves as the ship's primary defense against the
            unforgiving natural perils of space—extreme heat and harmful
            <a href="https://en.wikipedia.org/wiki/Radiation">radiation</a>.
        </p>
        <p> 
            In space, the ship is constantly bombarded with <span class="b i">waves
            of different frequencies and wavelengths</span>. Some of these waves,
            called <span class="b i">Solar Waves, are damaging</span> to the structure
            of the ship, while others, called <span class="b i">Comic Waves, are harmless
            </span>.
        </p>
        <p>
            The ship has a Thermal Defense system in place, but it works best when
            it is specifically targeted at harmful Solar Waves.
        </p>
        <p>
            A <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a>
            database is already on file, recording data about the individual frequencies
            and wavelengths of previously intercepted waves. However,<span class="b i">
            some incoming waves have a combination of frequency and wavelength that has
            not yet been classified</span>.
        </p>
        <p>
            Your job is to <span class="b i">determine if these waves are harmful</span>
            Solar Waves or harmless Cosmic Waves. To do so, you should find
            <span class="b i">the 7 nearest known waves</span> from the database.
        </p>
        <p>
            The distance between waves is determined by graphing the coordinates, with
            <span class="b i">frequency representing the x-axis</span> and 
            <span class="b i">wavelength representing the y-axis</span>.
        </p>
        <div class="imgcontainer">
            <img class="pad" src="../static/images/06/euclidian1.png">
        </div>
            The <span class="b i">
                <a href="https://en.wikipedia.org/wiki/Euclidean_distance">
                    Euclidean Distance Formula
                </a>
            </span> (above) is then used to gauge how near or far one point is from
            another. The majority type among the 7 closest neighbors of a new wave will
            determine whether that new wave is a Solar Wave or a Cosmic Wave. 
        </p>
        <p>
            The data provided, your puzzle input, consists of a <span class="b i">single
            line of new waves</span>, with each wave represented by its frequency and
            wavelength separated by a comma, and <span class="b i">individual waves
            separated by spaces</span>. Following this line are <span class="b i">several
            lines in a CSV format</span>, providing a <span class="b i">database of
            known waves</span>. In this CSV structure, the first column is "frequency",
            the second column is "wavelength", and the third column is "type". Determine
            whether each new wave is a Solar Wave (<span class="b i">S</span>) or a
            Cosmic Wave (<span class="b i">C</span>), and concatenate these results
            without spaces into an <span class="b i">uppercase five-character output</span>.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            Your unknown waves are
            <span class="code part">(9,2) (6,4) (3,5)</span><br>
            and your database consists of
            <span class="code free">
                frequency,wavelength,type<br>
                10,7,Cosmic<br>
                9,1,Solar<br>
                7,2,Solar<br>
                8,3,Cosmic<br>
                10,2,Solar<br>
                9,3,Solar<br>
                1,5,Cosmic<br>
                4,5,Cosmic<br>
                9,4,Solar<br>
                3,3,Solar
            </span>
        </p>
        <p>
            To find the distance for the first unknown wave (9,2) to the first wave in
            the database (10,7), you would apply the formula, taking the sum of the 
            difference of the Xs squared and the difference of the Ys squared:<br>
            <span class="code part">
                √( (10-9)² + (7-2)² )  =  √( 1² + 5² )  =  √( 1 + 25 )  =<br>
                √( 26 )  =  5.099
            </span>
        </p>
        <p>
            So the distance between the first unknown target wave and the known Cosmic
            wave at (10,7) is <span class="code part">5.099</span>
        </p>
        <p>
            Applying this formula to every wave in the database you get:
            <span class="code free">
                frequency,wavelength,type,<span class="b">distance</span><br>
                10,7,Cosmic,<span class="b">5.099</span><br>
                9,1,Solar,<span class="b">1.000</span><br>
                7,2,Solar,<span class="b">2.000</span><br>
                8,3,Cosmic,<span class="b">1.414</span><br>
                10,2,Solar,<span class="b">1.000</span><br>
                9,3,Solar,<span class="b">1.000</span><br>
                1,5,Cosmic,<span class="b">8.544</span><br>
                4,5,Cosmic,<span class="b">5.830</span><br>
                9,4,Solar,<span class="b">2.000</span><br>
                3,3,Solar,<span class="b">6.082</span>
            </span>
            Since you have such a small amount of data in this example, let's only look at
            the <span class="b i">3 nearest neighbors</span>. These would be
            <ol>
                <li>Solar Wave at (9,1)</li>
                <li>Solar Wave at (10,2)</li>
                <li>Solar Wave at (9,3)</li>
            </ol>
            Majority wins (and in this case all neighbors are the same type) so the unknown
            wave at (9,2) is Solar, or <span class="code part">S</span>.
        </p>
        <p>
            Repeating the same process for all the unknown waves, you get
            <ol>
                <li>for (9,2): Solar, Solar, Solar = <span class="b i">S</span></li>
                <li>for (6,4): Cosmic, Cosmic, Solar = <span class="b i">C</span></li>
                <li>for (3,5): Cosmic, Cosmic, Solar = <span class="b i">C</span></li>
            </ol>
            So our uppercase output would be <span class="code part">SCC</span>
        </p>

        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is your data:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/06/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/06/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the five-character output?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                Missing Mystery Part
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            You have successfully isolated some harmful Solar Waves and are ready to
            <span class="b i">direct the Thermal Defense System (TDS) at them</span>, but
            the diagnostic panel indicates a <span class="b i">critical malfunction</span>.
            This malfunction has caused the system to be unable to repair itself or provide
            you with definitive information about the broken part.
        </p>
        <p> 
            The entire TDS comprises <span class="b i">multiple types of
            <a href="https://www.merriam-webster.com/dictionary/bespoke">bespoke</a> parts</span>,
            each designed for different levels of radiation protection and thermal management.
            Because many different parts share similar qualities, it is difficult to determine
            the exact replacement needed.
        </p>
        <p>
            In the parts storage, you <span class="b i">find a replacement part</span> that
            matches some of the specifications of the broken shield. However, the
            specifications alone—<span class="b i">mass, density, thickness, area, and
            radiation output</span>—are insufficient to confirm the exact type of shield.
            This is because various shield types might have similar physical characteristics
            but different performance metrics and configurations.
        </p>
        <p>
            To determine what this unknown part is, you must <span class="b i">compare it with
            all the parts in the database</span> in terms of how far off it is from each part
            on record. We can gauge this similarity <span class="b i">using Euclidean
            distance</span>. However, since there are <span class="b i">more than two 
            dimensions</span> to each part, you need to use a more robust equation with
            <span class="code part">q</span> representing the target's value and 
            <span class="code part">p</span> representing the value from the database you are
            comparing it to.
        </p>
        <div class="imgcontainer">
            <img class="midpic" src="../static/images/06/euclidian2.png">
        </div>
        <p>
            Similar to how you sorted the waves, you need to look at <span class="b i">the 7 TDS
            parts nearest to the mystery part</span> to determine its purpose based on the
            majority of its <span class="b i">nearest neighbors</span>.
        </p>
        <p>
            Your data consists of a first line, the specifications of the mystery part,
            separated by commas, followed by the database of known parts in CSV format with
            columns for mass, density, thickness, area, radiation output, and type.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            If your mystery part, the target (<span class="b i">q</span>), has the values
            <span class="code free">
                mass,density,thickness,area,radiation_output<br>
                12.5,31.22,3.402,2.0,0.053
            </span>
            and you want to find its distance compared to this
            "<span class="b i">Boron&nbsp;Nitride&nbsp;Nanotube&nbsp;Composite</span>"
            part in the database
            (<span class="b i">p</span>)
            <span class="code free">
                mass,density,thickness,area,radiation_output<br>
               15.9,10.6,4.47,2.79,0.451
            </span>
        </p>
        <p>
            Following the Euclidean distance formula above, you need the square root of the
            sum of all the differences squared.
            <ol>
                <li>mass</li>
                <ul>
                    <li><span class="code part">(12.5 - 15.9)² = 11.56</span></li>
                </ul>
                <li>density</li>
                <ul>
                    <li><span class="code part">(31.22 - 10.6)² = 425.1844</span></li>
                </ul>
                <li>thickness</li>
                <ul>
                    <li><span class="code part">(3.402 - 4.47)² = 1.1406</span></li>
                </ul>
                <li>area</li>
                <ul>
                    <li><span class="code part">(2.0 - 2.79)² = 0.6241</span></li>
                </ul>
                <li>radiation output</li>
                <ul>
                    <li><span class="code part">(0.053 - 0.451)² = 0.1584</span></li>
                </ul>
            </ol>
        </p>
        <p>
            You take the square root of the sum of these totals
            <span class="code part">
                √( 11.56 + 425.1844 + 1.1406 + 0.6241 + 0.1584 )  =<br>
                √( 438.6675 )  =  20.9443
            </span>
        </p>
        <p>
            The distance between the mystery part in the example and the one
            Boron&nbsp;Nitride&nbsp;Nanotube&nbsp;Composite part is 
            <span class="code part">20.9443</span>.
        </p>
        <p>
            The following process is the same as you did in Part 1, finding the
            <span class="b i">7 nearest neighbors</span> of your mystery part to
            determine its type.
        </p>

        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is your data...:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/06/input2.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-2"></pre>
                <script>
                    fetch('../static/puzzle_input/06/input2.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-2');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the mystery part?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>