<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            7
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One: <br>
                <!--title start-->
                Pharma-geddon
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            After a few days of high-tension work in other areas of the ship, you put in a request
            for a more laid-back task. Helping to organize the inventory in the
            <a href="https://en.wikipedia.org/wiki/Sick_bay">Sick Bay</a> sounds like a great,
            mindless task that you can relax by doing.
        </p>
        <p>
            As seems to be your usual misfortune, you arrive to yet another tableau of stress and
            confusion. The medical officer has just put in <span class="b i">an order for some
            medical supplies</span> but the crew are struggling with their auto-vending machine.
        </p>
        <p>
            The steps for retrieving an item from the auto-vending storage are:
        </p>
        <ol>
            <li>
                Look up the <span class="b i">four-symbol codes</span>, in the reference
                sheet, for each item you need.
            </li>
            <li>
                Concatenate the four-symbol codes into one string without spaces and type
                it into the auto-vending machine's input field.
            </li>
        </ol>
        <p>
            This seems easy enough, but <span class="b i">someone has lost the reference sheet</span>.
            Without the four-symbol code for each item, you cannot retrieve it from the
            <a href="https://en.wikipedia.org/wiki/Vending_machine">auto-vending storage</a>.
        </p>
        <p>
            Luckily, there is a raw-data file (your puzzle input) in the computer system that stores
            the entire collection of medical supplies. When these items were entered into the ship's
            inventory, in no particular order, their four-symbol codes were
            <a href="https://en.wikipedia.org/wiki/Concatenation">concatenated</a> into the raw data
            file <span class="b i">with no separators</span>.
        </p>
        <p>
            You will first need to <span class="b i">split the raw data into groups of four symbols
            </span>, and then use a 
            <a href="https://docs.python.org/3/library/collections.html#collections.Counter">
                Counter
            </a>
            to <span class="b i">find the quantity associated with each four-symbol code</span>.
        </p>
        <p>
            The auto-vending machine is able to show you the quantity for each item, but not its
            four-symbol code. To get the four-symbol code for an item, you will need to match the
            quantity of the item shown on the auto-vending machine with the quantity for the
            four-symbol code you've obtained from the raw data.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            Based on the information displayed by the auto vending machine, you know that there are
            <span class="b i">8 hypodermic needles</span> and <span class="b i">4 plaster casts</span>
            currently in stock.
        </p>
        <p>Your raw data file looks like:
            <span class="code free">
                **_#@$%&()[]#?!)()[]#?!)()[]()[]@$%&@$%&()[]()[]()[]()[]@$%&@$%&#?!)**_#**_#@$%&#?!)
            </span>
            Splitting the raw data into groups of four symbols,
            <span class="code free">
                **_# @$%& ()[] #?!) ()[] #?!) ()[] ()[] @$%& @$%& ()[]
                ()[] ()[] ()[] @$%& @$%& #?!) **_# **_# @$%& #?!)
            </span>
            you can count:
            <ul>
                <li>8 occurrences of <span class="code part">()[]</span></li>
                <li>6 occurrences of <span class="code part">@$%&</span></li>
                <li>4 occurrences of <span class="code part">#?!)</span></li>
                <li>3 occurrences of <span class="code part">**_#</span></li>
            </ul>
        </p>
        <p>
            Since we know that there are <span class="b i">8 hypodermic needles</span> and there are
            <span class="b i">8 occurrences</span> of the four-symbol code
            <span class="code part">()[]</span>, you know that this four-symbol code represents
            hypodermic needles.
        </p>
        <p>
            The same logic shows you that the four-symbol code for plaster casts is
            <span class="code part">#?!)</span>.
        </p>
        <p>
            To get these items from the storage, you will input the four-symbol code for hypodermic
            needles followed by the four-symbol code for plaster casts with no spaces between them:
            <span class="code part">()[]#?!)</span>.
        </p>

        <!--content end-->
        <p class="main">
            <!--instructions start-->
            The medical officer has requested <span class="b i main">bandages</span>,
            <span class="b i main">healing serum</span>, and <span class="b i main">
            antacids</span>.
        </p>
        <p class="main">
            The auto-vending machine displays the following inventory for these items:
            <span class="code free main">
                • <span class="b i main">1081</span> packages of standard adhesive bandages<br>
                • <span class="b i main">1055</span> bottles of "InstaHeal" healing serum<br>
                • <span class="b i main">965</span> blister packs of "Yucky Tummy No More"
                chewable antacids
            </span>
            Your raw data file is:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/07/input1.txt" class="input" download>
                <!-- <img class="puzzle" id="code-block-1" src="{{ input_url1 }}"> -->
                <pre class="code main" id="code-block-1"></pre>
                <script>
                    fetch('../static/puzzle_input/07/input1.txt')
                        .then(response => response.text())
                        .then(text => {
                            const element = document.getElementById('code-block-1');
                            element.innerText = text;
                            setTimeout(() => {
                            if (element.offsetHeight > parseFloat(getComputedStyle(element).maxHeight)) {
                                element.parentNode.insertBefore(
                                Object.assign(document.createElement('pre'), {
                                    className: 'code main attach b',
                                    innerHTML: '...',
                                }),
                                element.nextSibling
                                );
                            }
                            }, 0);
                        })
                        .catch(error => console.error('Error fetching the content:', error));
                </script>
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the code to retrieve these three items?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two: <br>
                <!--title start-->
                Have a Proper Gander
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            With that crisis averted, the rest of your day goes by pretty smoothly as you help your
            shipmates reorganize the inventory. Suddenly, out of the corner of your eye, you
            <span class="b i">spot a small colorful piece of paper</span>.
        </p>
        <div class="imgcontainer">
            <img class="fill" src="../static/images/07/zorakpropoganda.png">
        </div>
        <p>
            Picking it up, you immediately recognize it as <span class="b i">Dokarian
            <a href="https://en.wikipedia.org/wiki/Propaganda">propaganda</a></span>
            that someone aboard the ship must have sneaked in. Could there be a
            <a href="https://en.wikipedia.org/wiki/Treason">traitor</a> amongst us?
        </p>
        <p>
            Dokarian Propaganda is notorious for having <span class="b i">hidden messages in its images
            </span>. Call it a <a href="https://en.wikipedia.org/wiki/Intuition">hunch</a>, but you
            notice something very funny about the <span class="b i">background colors of the paper</span>.
            Luckily, there is a <span class="b i">Propaganda Inspecting LumiCam (PIL)</span> app that you
            can download for your holographic tablet, designed to <span class="b i">scan images for
            color</span>. Scanning the pixel colors of the image's background should help you uncover the
            hidden message within.
        </p>
        <p>
            To uncover the <span class="b i">hidden message</span>, you need to program it to act as a
            <a href="https://docs.python.org/3/library/collections.html#collections.Counter">
                Counter
            </a>
            for each pixel color you scan. The <span class="b i">top three colors</span>, in hexadecimal
            format, will spell out the message. You decide on a quick course of action.
        </p>
        <div class="shadow pad">
            <ol>
                <li>Scan the Image</li>
                <ul>
                    <li>
                        Use the PIL app to scan the background colors from the image (your puzzle input).
                        You will get a list of <a href="https://en.wikipedia.org/wiki/RGB_color_model">RGB
                        tuples</a> for every pixel in the image.
                    </li>
                </ul>
                <li>Count the Colors</li>
                <ul>
                    <li>
                        Counting the occurrences of each color in the list and select the top three, by
                        choosing the three most common pixels by count.
                    </li>
                </ul>
                <li>Convert Hex Values</li>
                <ul>
                    <li>
                        Convert the RGB tuples of each top three color to hex color values and then change
                        all of the digits to their closest uppercase letter using the following mapping:<br>
                        <span class="b i">0=O, 1=I, 2=Z, 3=E, 4=A, 5=S, 6=G, 7=T, 8=B, and 9=P</span>
                    </li>
                </ul>
            </ol>
        </div>
        <p>
            The resulting <span class="b i">six letter words from the top three hex color values</span>
            will reveal the secret message hidden inside the propaganda paper.
        </p>
        <h4>
            For example:
        </h4>
        <p>
            Using the image
        </p>
        <div class="imgcontainer">
            <img class="midpic" src="../static/images/07/sample.png">
        </div>
        <p>We get the following counts for pixel colors
            <span class="code free">
                (255, 255, 255): &nbsp;2,183<br>
                (&nbsp;&nbsp;0, &nbsp;&nbsp;0, &nbsp;&nbsp;0): &nbsp;1,917<br>
                (176, 209, 229): 10,000<br>
                (190, 173, 237): 10,000<br>
                (222, 202, 222): 10,000
            </span>
        </p>
        <p>
            The top three colors, with 10,000 occurrences each, are
            <span class="code part">(176, 209, 229), (190, 173, 237), (222, 202, 222)</span>.
        </p>
        <div class="flex-container">
            <div class="container-item pad">
                Converting the top 3<br>colors to hex values
                <span class="code free">
                    #B0D1E5<br>
                    #BEADED<br>
                    #DECADE
                </span>
            </div>
            <div class="container-item pad">
                and changing the digits<br>to uppercase letters
                <span class="code free">
                    BODIES<br>
                    BEADED<br>
                    DECADE
                </span>
            </div>
        </div>
        <p>
            The secret message becomes <span class="code part">BODIES BEADED DECADE</span>.
        </p>
        
        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is a section of just the background colors from the propaganda paper for you to scan
            and extract the secret message:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/07/input2.png" class="input" download>
                <img class="puzzle" id="code-block-1" src="../static/puzzle_input/07/input2.png">
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">What is the secret message?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
