<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical Python Zorak's Coding Challenges</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <a class="float" href="index.html">&lt;</a>

    <header>
        <h1>Challenge 
            <!--NUMBER-->
            5
            <!--HERE-->
        </h1>
    </header>

    
    <section id="partone">
        <div class="header">
            <h2>Part One:<br>
                <!--title start-->
                Pixel Perfect Panic
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            You performed so well in the galley that the crew in the
            generator room has requested your help today. Their 
            <span class="b i">Power Harvester machine</span>, which 
            <span class="b i">gathers energy from nearby stars to fuel
            the ship</span>, is functioning fine. However, they are having
            <span class="b i">trouble reading the outputs</span> that
            indicate how many gigajoules (GJ) of energy have been collected.
        </p>
        <p>
            Here's how the Power Harvester works:<br>After sending a 
            <a href="https://en.wikipedia.org/wiki/Photon">photon</a>
            collection beam toward a star, the energy is gathered and
            stored in one of the power tanks in the generator room.
            Although the Power Harvester is somewhat outdated, it has
            been reliable over the years with minimal updates. 
            <span class="b i">Instead of a digital display, this
            antique machine 
            <a href="https://en.wikipedia.org/wiki/Extrusion">extrudes</a>
            a long, thin wire of singular 
            <a href="https://en.wikipedia.org/wiki/Pixel">pixels</a></span>.
            This wire is then <span class="b i">fed into the more modern 
            P.I.L. System (Patterned Image Layout), which
            reconstructs it into a square image</span>. The resulting image
            displays the number of GJ harvested.
        </p>
        <p>
            Despite its age, the Power Harvester is known for its good
            old-fashioned reliability and continues to run smoothly.
            However, <span class="b i">the P.I.L. System is failing</span>
            and can no longer convert the wire into a viewable square image.
            You need to <span class="b i">reprogram it to restore this
            function</span>.
        </p>
        <ul>
            <li class="pad">
                You can be certain that <span class="b i">the length of
                wire extruded from the Power Harvester machine is a
                <a href="https://en.wikipedia.org/wiki/Square_number">
                perfect square</a></span>, which means that it can be
                arranged into an image with <span class="b i">equal width
                and height</span>.
            </li>
            <li>
                To create the image, <span class="b i">start at point (0,0)
                </span>and lay wire
                <span class="b i">to the right until you reach the end of
                the row</span>, indicated by the width of the desired square
                image. Then, <span class="b i">move down a row</span> and
                <span class="b i">lay the wire to the left</span>,
                <a href="https://en.wikipedia.org/wiki/Zigzag">zigzagging</a>
                from top to bottom and left to right until the entire wire is
                used.
            </li>
        </ul>
        <h4>
            For example:
        </h4>
        <p>
            The wire with pixels
        </p>
        <div>
            <table class="map">
                <tr>
                    <td style="background-color:darkgreen;">0</td>
                    <td style="background-color:darkblue">1</td>
                    <td style="background-color:purple">2</td>
                    <td style="background-color:indigo">3</td>
                    <td style="background-color:darkgreen;">4</td>
                    <td style="background-color:darkblue;">5</td>
                    <td style="background-color:purple;">6</td>
                    <td style="background-color:indigo;">7</td>
                    <td style="background-color:darkgreen;">8</td>
                    <td style="background-color:darkblue;">9</td>
                    <td style="background-color:purple;">10</td>
                    <td style="background-color:indigo;">11</td>
                    <td style="background-color:darkgreen;">12</td>
                    <td style="background-color:darkblue;">13</td>
                    <td style="background-color:purple;">14</td>
                    <td style="background-color:indigo;">15</td>
                </tr>
            </table>
        </div>
        <p>
            would zigzag into the following formation
        </p>
        <div class="flex-container">
            <div class="container-item">
                <table class="map">
                    <tr>
                        <td style="background-color:darkgreen;">0</td>
                        <td style="background-color:darkblue">1</td>
                        <td style="background-color:purple">2</td>
                        <td style="background-color:indigo;">3</td>
                    </tr>
                    <tr>
                        <td style="background-color:indigo;">7</td>
                        <td style="background-color:purple">6</td>
                        <td style="background-color:darkblue">5</td>
                        <td style="background-color:darkgreen;">4</td>
                    </tr>
                    <tr>
                        <td style="background-color:darkgreen;">8</td>
                        <td style="background-color:darkblue">9</td>
                        <td style="background-color:purple">10</td>
                        <td style="background-color:indigo;">11</td>
                    </tr>
                    <tr>
                        <td style="background-color:indigo;">15</td>
                        <td style="background-color:purple">14</td>
                        <td style="background-color:darkblue">13</td>
                        <td style="background-color:darkgreen;">12</td>
                    </tr>
                </table>
            </div>
            <div class="spacer"><span class="b lg">or </span></div>
            <div class="container-item">
                <img class="smallpic" src="../static/images/05/linea.png">
            </div>
        </div>
        <p>
            A larger wire with more pixels might produce an image like
        </p>
        <div class="imgcontainer">
            <img style="height:50px;width:50px;" src="../static/images/05/sample.png">
        </div>
        <p>
            making the amount of energy obtained by the Power Harvester
            <span class="code part">79</span> GJ.
        </p>



        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Here is your extruded wire:
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/05/input1.png" class="input" download>
                <img class="puzzle" id="code-block-1" src="../static/puzzle_input/05/input1.png">
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">How many GJ of energy have been harvested?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>


    <section id="parttwo">
        <div class="header">
            <h2>Part Two:<br>
                <!--title start-->
                Diamond in the Data Rough
                <!--title end-->
            </h2>
        </div>
        <!--content start-->
        <p>
            In addition to harvesting gigajoules of power from the stars,
            <span class="b i">the Power Harvester also collects diamond
            gas</span> as a side effect.
        </p>
        <p>
            When compressed, this gas forms actual
            <a href="https://en.wikipedia.org/wiki/Diamond">diamonds</a>,
            which can be sold—likely another reason why this antique machine
            remains so popular. The diamond gas is filtered into separate
            containers, and the resulting diamonds help finance the missions
            of the STS Space Ghost.
        </p>
        <p>
            Fortunately, the Power Harvester also <span class="b i">tracks
            the amount of diamond gas collected in liters</span>, which is
            <span class="b i">indicated within the extruded wire</span>.
            Once again, the task of generating an image to display the
            total liters of diamond gas falls to the P.I.L System, which is
            still buggy. <span class="b i">You'll need to reprogram it to
            convert the wire into a new formation to read the amount of
            diamond gas</span>.
        </p>
        <ul>
            <li>
                To create this new image formation, <span class="b i">use
                the same wire</span>. Instead of zigzagging from left to
                right and top to bottom, <span class="b i">zigzag diagonally
                from the upper left corner (point (0,0)) to the bottom right
                corner</span>. 
            </li>
            <li>
                <span class="b i">Start at point (0,0)</span> and
                <span class="b i">lay the wire 1 pixel right</span>, then
                <span class="b i">move diagonally down-left</span>. After
                completing one diagonal line down-left, <span class="b i">lay
                the wire 1 pixel down</span> and <span class="b i">move
                diagonally up-right</span>. This process continues until the
                entire wire is used.
            </li>
            <li>
                If the height is reached, the wire will move right instead
                of down before moving up-right. If the width is reached, the
                wire will move down instead of right before moving down-left.
            </li>
        </ul>
        <h4>
            For example:
        </h4>
        <p>
            The same wire as before, with pixels
        </p>
        <div>
            <table class="map">
                <tr>
                    <td style="background-color:darkgreen;">0</td>
                    <td style="background-color:darkblue">1</td>
                    <td style="background-color:purple">2</td>
                    <td style="background-color:indigo">3</td>
                    <td style="background-color:darkgreen;">4</td>
                    <td style="background-color:darkblue;">5</td>
                    <td style="background-color:purple;">6</td>
                    <td style="background-color:indigo;">7</td>
                    <td style="background-color:darkgreen;">8</td>
                    <td style="background-color:darkblue;">9</td>
                    <td style="background-color:purple;">10</td>
                    <td style="background-color:indigo;">11</td>
                    <td style="background-color:darkgreen;">12</td>
                    <td style="background-color:darkblue;">13</td>
                    <td style="background-color:purple;">14</td>
                    <td style="background-color:indigo;">15</td>
                </tr>
            </table>
        </div>
        <p>
            would zigzag into the following formation
        </p>
        <div class="flex-container">
            <div class="container-item">
                <table class="map">
                    <tr>
                        <td style="background-color:darkgreen;">0</td>
                        <td style="background-color:darkblue">1</td>
                        <td style="background-color:darkblue">5</td>
                        <td style="background-color:purple;">6</td>
                    </tr>
                    <tr>
                        <td style="background-color:purple;">2</td>
                        <td style="background-color:darkgreen">4</td>
                        <td style="background-color:indigo">7</td>
                        <td style="background-color:darkgreen;">12</td>
                    </tr>
                    <tr>
                        <td style="background-color:indigo;">3</td>
                        <td style="background-color:darkgreen">8</td>
                        <td style="background-color:indigo">11</td>
                        <td style="background-color:darkblue;">13</td>
                    </tr>
                    <tr>
                        <td style="background-color:darkblue;">9</td>
                        <td style="background-color:purple">10</td>
                        <td style="background-color:purple">14</td>
                        <td style="background-color:indigo;">15</td>
                    </tr>
                </table>
            </div>
            <div class="spacer"><span class="b lg">or </span></div>
            <div class="container-item">
                <img class="smallpic" src="../static/images/05/lineb.png">
            </div>
        </div>


        <!--content end-->
        <p class="main">
            <!--instructions start-->
            Your extruded wire (same as Part 1):
            <!--instructions end-->
        </p>
        <div class="input">
            <a href="../static/puzzle_input/05/input2.png" class="input" download>
                <img class="puzzle" id="code-block-1" src="../static/puzzle_input/05/input1.png">
                <p class="main ssm attach">[ click to get input ]</p>
            </a>
        </div>
        
        <div class="shimmer">
            <form>
                <div class="form-box">
                    <!--form start-->
                    <label class="main">How many liters of diamond gas were harvested?<br></label>
                    <input type="text" id="answer2" placeholder="...">
                    <button>Submit</button>
                    <!--form end-->

                    <div style="display: none;">
                        <!--solution start-->
                        <label class="main">Your answer was <span class="b i">...</span>.</label>
                        <!--solution end-->
                    </div>
                </div>
            </form>
            
        </div>
    </section>

</body>
</html>
