{% extends "default.html" %}

{% block title %} Champions Update Menu {% endblock %}

{% block image %}
{% if img.startswith('http') %}
{{ img }}
{% else %}
{{ url_for('static', filename=img) }}
{% endif %}
{% endblock %}

{% block hovertext %} {{ text|safe }} {% endblock %}

{% block main %}

<input type="button" value="ADMIN MAIN" onclick="window.location.href='/admin'">

<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for _, message in messages %}
    <p class="b i">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/edit-champions" method="POST">
        <h2>Champions</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>GitHub ID</th>
            </tr>

            {% for champion in champions %}
            <tr>
                <td>
                    <textarea name="name_{{ loop.index }}" id="name_{{ loop.index }}" style="color: var(--t-main)"
                              rows="1" cols="30">{{ champion.name }}</textarea>
                </td>
                <td>
                    <textarea name="github_{{ loop.index }}" id="github_{{ loop.index }}" style="color: var(--t-main)"
                              rows="1" cols="30">{{ champion.github }}</textarea>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <input type="button" value="CANCEL" onclick="window.location.href='/edit-champions'">
        <input type="submit" value="SAVE">
    </form>
</section>
{% endblock %}