{% extends "default.html" %}

{% block title %} UPDATE DB {% endblock %}

{% block image %}
    {% if img.startswith('http') %}
        {{ img }}
    {% else %}
        {{ url_for('static', filename=img) }}
    {% endif %}
{% endblock %}

{% block hovertext %} {{ text|safe }} {% endblock %}

{% block main %}
    <section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for _, message in messages %}
        <p class="b i">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/update" method="POST">
            <label for="selector">Select an option:</label><br>
            <select name="selection" id="selector" onchange="this.form.submit()">
                <option value=""></option>
                {% for option in range(1, 11) %}
                    <option value="{{ option }}" {% if option == selected|int %}selected{% endif %}>Week {{ option }}</option>
                {% endfor %}
            </select>
        </form>
    </section>

    {% if a is defined %}
    <section>
        <form action="/update-db" method="POST">
            <input name="num" type="hidden" value="{{ num }}">
            {% for part, p, data in [('1', 'a', a), ('2', 'b', b)] %}
                <h2>Part {{ part }}</h2>
                {% for field, size in [('title', 1), ('content', 10), ('instructions', 5), ('input', 1), ('form', 5), ('solution', 4)] %}
                    <label for="{{ field }}">{{ field | capitalize }}:</label><br>
                    <textarea id="{{ field }}" name="{{ field }}_{{ p }}" rows="{{ size }}" cols="90">{{ data[field] }}</textarea><br><br>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="SAVE">
        </form>
    </section>
    {% endif %}
{% endblock %}
